
 

@media screen and (min-width: 960px){
header{
  height:600px;
}
body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 16px;
}
main{
  flex: 1 0 auto;
}

  .brand-logo{
    margin-left: 20px;
  }
  .desktop{
    margin-top: 20px;
    margin-right: 20px;
  }
  .input-field /*input[type=email].valid*/ {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /*.input-field input[type=nome].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }*/
}
  .title{
    font-size: 16px;
    text-align: center;
  }
