header{
    background-image: url();
    
    height:300px;
  
  }
  
  
  .menu{
    background: white;
    box-shadow: none;
  }
  .brand-logo{
     
  }
  
  @media screen and (min-width: 960px){
    header{
      height:600px;
      }
      .brand-logo{
        margin-left: 20px;
    }
    .desktop{
      margin-top: 20px;
      margin-right: 20px;
    }
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }
  
    main {
      flex: 1 0 auto;
    }
    .input-field input[type=email].valid {
      border-bottom: 1px solid #000;
      box-shadow: 0 1px 0 0 #000;
    }
    .input-field input[type=nome].valid {
      border-bottom: 1px solid #000;
      box-shadow: 0 1px 0 0 #000;
    }
  }